<section class="main-header"> 
</section>
  
<section class="thisis">     
  <h1>Tsubuyaki is a Tweet-application</h1>
  <p>
    Tsubuyakiは、EXAM01のために作成された、練習用アプリです。<br>
    Ruby on Railsというフレームワークを使用して作られています。
  </p>
</section>